#button{
  color: black;
  width: 150px;
  height: 50px;
  padding: 5px;
  background-color: rgb(40, 143, 143);
  border-radius: 10px;
  border-style: dotted;
  position: absolute;
}
body{
  background-image: url(https://media3.giphy.com/media/TxVVB6PfWMjE4/giphy.gif?cid=790b7611455b8352a92ed6157dadf2a2135761c40ef8d100&rid=giphy.gif&ct=g);
}
#btn{
  margin: 40px 32px;
  color: purple;
  width: 200px;
  height: 70px;
  padding: 10px;
  background-color: rgb(223, 117, 170);
  border-style: groove;
  border-radius: 5px;
  display: block;
}
#cat{
  position: relative;
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 258px;
  height: 300px;
  background-image: url(https://media3.giphy.com/media/3oz8xsaLjLVqVXr3tS/giphy.gif?cid=ecf05e47km6pi87fzlf37p9rr79ns11a7dn76ws4vjyicfq8&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
}